.judul-label{background-color:#30bead;
font-weight:bold;
line-height:1.8em;
margin-bottom:5px;
overflow:hidden;
white-space:nowrap;
vertical-align: baseline;
margin: 0 2px;
outline: none;
cursor: pointer;
text-decoration: none;
font: 18px/100% Roboto, Helvetica, sans-serif;
padding: .5em 2em .55em;
text-shadow: 0 1px 1px rgba(0,0,0,.3);width:99%;
margin:5px auto;
color: #fff;
border: 2px solid white !important;
background:#ff772e; 
}

.data-list{
line-height:2em;
margin-left:5px;
margin-right:5px;
padding-left:15px;
padding-right:5px;
white-space:nowrap;
text-align:left;
font-family:"Roboto",sans-serif;
font-size:16px;
}

.list-ganjil{
background-color:#fff;
}

.headactive{
 color: #fef4e9;
 border: 2px solid white !important;
 background: #f78d1d;
 background: -webkit-gradient(linear, left top, left bottom, from(#30bead), to(#30bead));
 background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
</style>
